.transactions {
  width: 100%;
  max-width: 600px;
}

.transaction {
  display: flex;
  justify-content: space-between;
  background-color: #1e1e1e;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #333333;
}

.transaction .left, .transaction .right {
  display: flex;
  flex-direction: column;
}

.transaction .name {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.transaction .description {
  font-size: 1rem;
  color: #aaaaaa;
}

.transaction .price {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.transaction .price.positive {
  color: #76ff03;
}

.transaction .price.negative {
  color: #ff1744;
}

.transaction .price.zero {
  color: #ffffff;
}

.transaction .datetime {
  font-size: 0.9rem;
  color: #888888;
}
